body {
        font-family: sans-serif;
      }
    
      .highridge {
        margin-top: 5px;
        padding-left: 0px;
        width: 70%;
        height: 90%;
        border-radius: 3%;
        position: static;
        transform: rotate(12deg);
      }
    
      .hello {
        margin-left: 20px;
        margin-top: 45px;
        color: #0d6efd;
        font-size: 1.5rem;
        font-family: sans-serif;
      }
    
      p {
        margin-left: 20px;
        text-indent: 50px;
        line-height: 1.5;
        text-align: justify;
      }
    
      h1 {
        margin-left: 20px;
        color: rgb(86, 86, 185);
        font-family: sans-serif;
      }
    
      h2 {
        margin-left: 20px;
        font-size: 1rem;
        font-family: sans-serif;
        color: #0d6efd;
      }
    
      .quite-long {
        font-family: sans-serif;
        font-size: 0.8rem;
        margin-left: 80px;
      }
    
      .btn {
        margin-left: 20px;
      }
    
      @media (max-width: 1028px) {
        #title {
          text-align: center;
        }
    
        p {
          margin-left: 20px;
          margin-right: 20px;
          margin-top: 40px;
          text-indent: 50px;
          line-height: 1.5;
          text-align: justify;
        }
    
        .highridge {
          margin-left: auto;
          margin-right: auto;
          width: 70%;
          height: 90%;
          transform: rotate(0deg);
        }
      }
